<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.michaelchou.demo">
      
    <application android:icon="@drawable/wheel">

		<activity android:name="com.michaelchou.demo.WheelDemo">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<activity android:name="com.michaelchou.demo.TimeActivity" >
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.michaelchou.WHEEL_SAMPLE"/>
            </intent-filter>
		</activity>
        <activity android:name="com.michaelchou.demo.Time2Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.michaelchou.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.michaelchou.demo.DateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.michaelchou.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.michaelchou.demo.Date2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.michaelchou.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
		<activity android:name="com.michaelchou.demo.PasswActivity" >
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.michaelchou.WHEEL_SAMPLE"/>
            </intent-filter>
		</activity>
        <activity android:name="com.michaelchou.demo.SlotMachineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.michaelchou.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
		<activity android:name="com.michaelchou.demo.CitiesActivity">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.michaelchou.WHEEL_SAMPLE"/>
            </intent-filter>
		</activity>

    </application>


</manifest> 